{% include "./base.html" %}

{% load bootstrap4 %}
{% load extra_tags %}

<br>
<br>
<br>
<h1> Create a process template</h1>
<br>

<form method="post" class="post-form">
    {% csrf_token %}
    <table border="0.6">
    {% for field in form.visible_fields %}
    {% if field.name == 'name' or field.name == 'description' %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endif %}
    {% endfor %}
  </table>
  <br>
  <br>

  <h4>Tasks</h4>
  <table border="1">
      {% for number, task in tasks.items %}
      <tr>
      <table border="1">
          Task {{ number }}
          {% for name, value in task.items %}
          <tr>
              <th><label for="{{name}}">{{name|humanreadable}}</label></th>
              <!-- TODO: Inline CSS remove -->
              <!-- https://stackoverflow.com/a/29949813/9915027 -->
              <td><input style="color: #000000; background: #ffffff; border-style: none;" type="text" id="{{name}}" name="{{number|addstr:name}}" value="{{value}}" readonly="readonly"></td>
          </tr>
          {% endfor %}
      </table>
  <br>
      </tr>
      {% endfor %}
  </table>
  <br>
  <br>
  <h4> New task </h4>
  <table>
    {% for field in form.visible_fields %}
    {% if field.name != 'name' and field.name != 'description' %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endif %}
    {% endfor %}
  </table>
    
    {% buttons %}
        <button type="submit" class="btn btn-primary" name="action" value="add_task">Add new task</button>
        <button type="submit" name="save" class="btn btn-success">Save</button>
    {% endbuttons %}
</form>
</div> 
