{% include "./base.html" %}

{% load bootstrap4 %}
{% load extra_tags %}

<br>
<h1> Create a process template</h1>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-success {{ message.type }} " > {{ message.message }} </li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" class="post-form">
    <div class="process-container">
        <div class="task-container">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                {% if field.name == 'name' or field.name == 'description' %}
            <div class="attr-container">
                <div>
                    {{ field.label_tag }}
                </div>
                 <div>
                     {{ field }}
                 </div>
                      {{ field.help_text }}
            </div>
                {% endif %}
                {% endfor %}
          <h4> Add new task </h4>
            {% for field in form.visible_fields %}
            {% if field.name != 'name' and field.name != 'description' and field.name != 'new_task_role' %}
            <div class="attr-container">
                <div>
                    {% if field.name != "new_task_all_or_any" %}
                        {{ field.label_tag }}
                    {% else %}
                        New task all actors?
                    {% endif %}
                </div>
                <div>
                {{ field }}
                    
                </div>
                {{ field.help_text }}
                
            </div>
            {% endif %}
            {% if field.name == 'new_task_role' %}
                    <div class="attr-container">
                <label for="new_task_role"> New task role</label>
                <select id="new_task_role" name="new_task_role">
                    {% for choice in field.field.choices %}
                    {{choice}}
                    <option value="{{choice}}">{{choice}}</option>
                    {% endfor %}
                    
                </select>
                    </div>
                    
            {% endif %}

            {% endfor %}
    
            <br>
    {% buttons %}
        <button type="submit" class="btn btn-primary" name="action" value="add_task">Add new task</button>
        <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
    {% endbuttons %}
        </div>
            <div class="task-container">
  <h4 class="text-container">Tasks</h4>
  <table >
      {% for number, task in tasks.items %}
      <tr>
      <table border="1" bordercolor="#9c9c9c">
          Task {{ number }}
          {% for name, value in task.items %}
          <tr>
              <th><label for="{{name}}">{{name|humanreadable}}</label></th>
              <!-- TODO: Inline CSS remove -->
              <!-- https://stackoverflow.com/a/29949813/9915027 -->
              <td><input style="color: #000000; background: #ffffff; border-style: none;" type="text" id="{{name}}" name="{{number|addstr:name}}" value="{{value}}" readonly="readonly"></td>
          </tr>
          {% endfor %}
      </table>
  <br>
      </tr>
      {% endfor %}
  </table>
            
        </td>
        <td>
  <br>
  <br>
            
        </td>
    </table>
        </div>
    </div>

</form>
</div> 
