{% include "./base.html" %}

{% load bootstrap4 %}
{% load extra_tags %}
{% include 'navbar.html' %}
<br>
<h2 style="padding-left: 3vw">Edit Task template</h2>
<br>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>

<div style="padding-left: 4vh; padding-bottom: 3vh">
    <a class="btn btn-primary" href={{id|get_process_edit_url}}>&#8592; Go Back</a>
    
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-success {{ message.type }} " > {{ message.message }} </li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
<div class="taskedit">
    <div class="attr-container task-attr">
        {{ field.label_tag }}
    </div>
     <div class="attr-container">
         {{ field }}
     </div>
          {{ field.help_text }}
</div>
    {% endfor %}
    <div style="padding-left: 7vh">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
