{% include "./base.html" %}

{% load bootstrap4 %}
{% load extra_tags %}
{% include 'navbar.html' %}
<br>
<h2 style="padding-left: 3vw">Edit Workflow definition</h2>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-success {{ message.type }} " > {{ message.message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
<div class="taskedit">
    <div class="attr-container task-attr">
        {{ field.label_tag }}
    </div>
     <div class="attr-container">
         {{ field }}
     </div>
          {{ field.help_text }}
</div>
    {% endfor %}
    <div class="tasktable">
    <table width="100%" padding="10px"  class="tasktable">
        <th>Name</th>
        <th>Edit</th>
        {% for id, name in tasks %}
        <tr>
            <td>{{name}}</td>
            <td>
                <a class="btn btn-light" href={{id|move_task_up_url:process_template_id}}>&#9650;</a>
                <a class="btn btn-light" href={{id|move_task_down_url:process_template_id}}>&#9660;</a>
                <a class="btn btn-primary" href={{id|get_task_edit_url}}>Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div style="padding-left: 7vh">
        <a class="btn btn-primary" href={{process_template_id|get_add_new_task_url}}>Add new task</a>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
