{% include "./base.html" %}

{% load bootstrap4 %}
{% load extra_tags %}
{% include 'navbar.html' %}
<br>
<h2 style="padding-left: 3vw">Edit Task template</h2>
<br>
<div style="padding-left: 4vh; padding-bottom: 3vh">
    <a class="btn btn-primary" href={{id|get_process_edit_url}}>&#8592; Go Back</a>
    
</div>

<form method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
<div class="taskedit">
    <div class="attr-container task-attr">
        {{ field.label_tag }}
    </div>
     <div class="attr-container">
         {{ field }}
     </div>
          {{ field.help_text }}
</div>
    {% endfor %}
    <div style="padding-left: 7vh">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
