{% extends 'base_login.html' %}
{% include "./base.html" %}
{% load bootstrap4 %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% if messages %}
<ul style="padding-top: 2vw;" class="messages">
    {% for message in messages %}
        <li class="alert alert-warning  " > {{ message}} </li>
    {% endfor %}
</ul>
{% endif %}
  <h2 style="padding:2vw;">Sign up</h2>
  <div class="logincontainer">
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="loginfield">
            <div class="loginlabel">
                {{ field.label_tag }}
            </div>
             <div class="loginbox">
                 {{ field }}
             </div>
             <!--{{ field.help_text }}-->
        </div>
    {% endfor %}
        <div class="loginbutton" >
            <button class="btn btn-success" type="submit">Sign Up</button>
        <div >
  </form>
  </div>
{% endblock %}
