
{% load bootstrap4 %}
{% load extra_tags %}
{% include "./base.html" %}
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Workflows</a>
    <a class="navbar-brand" href="#">My Executions</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul class="nav-item ml-md-auto" style="list-style-type: none">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="page-header">
    <h1> Execution Name: {{ exec_obj.name }}</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      {% for task in task_list %}
        <div id="{{ task.template.name }}">
          <div class="card">
            {% if task.status == "Not Started" %}
            <div class="card-header bg-warning">
            {% elif task.status == "Completed" %}
            <div class="card-header bg-success">
            {% else %}
            <div class="card-header bg-primary">   
            {% endif %}
                <a class="card-link" style="color: black;" data-toggle="collapse" data-parent="{{task.template.name}}" href="#{{task.id}}">{{ task.template.name }}</a>
            </div>
            {% if task.status == "Not Started" %}
            <div id="{{task.id}}" class="collapse " >
            {% elif task.status == "Started" %}
            <div id="{{task.id}}" class="collapse show " >
            {% else %}
            <div id="{{task.id}}" class="collapse " >
            {% endif %}
              <div class="card-body text-black">
                <p class="card-text">
                  Description: {{ task.template.description }}
                </p>
                <p class="card-text">
                    Role: {{ task.template.role.name }}
                </p>
                <p class="card-text">
                  Actors Completed: 
                  {% for actor in task.actors.all %}
                    {{ actor.name }}
                  {% empty %}
                    None
                  {% endfor %}
                </p>
                <p class="card-text">
                    Process Template Name: {{ task.template.process_template.name }}
                </p> 
                <p class="card-text">
                  Status: {{ task.status }}
                </p>
                <p class="card-text">
                  Deadline: {{task.deadline}}
                </p>
                <p class="card-text">
                  Current Output: {{task.output}}
                </p>
              </div>
              <div class="card-footer">
                {% if task.status == "Started" and task.template.role in user_roles %}
                  {% for action in task.template.status_states|parse_csv %}
                    {% if action != "" %}
                      <form action="{% url 'completing task' task.process.id task.id action %}" method="GET" class="form-inline">
                          {% csrf_token %}
                          {% buttons %}
                            <button type="submit" class="btn btn-success">{{ action }}</button>
                          {% endbuttons %}
                      </form>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <!-- <button type="button" class="btn btn-success btn-xs" onclick="showAlert()">
                  Mark As Completed
                </button> -->
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-5">
      <h2>Execution: {{exec_obj.name}}</h2>
      <p>Creator: {{exec_obj.creator.name}}</p>
      <p>Date Of Creation: {{exec_obj.dateOfCreation | date:"D d M Y" }}</p>
      Current Role:
      {% for role in user_roles%}
      <p> {{ role.name }} </p>
      {% endfor %}
      <form action="{% url 'delete_execution' exec_obj.id %}" method="GET">
        <button type="submit" class="btn btn-danger">Delete Execution</button>
      </form>
      <form action="{% url 'viewexecs' exec_obj.template.id %}" method="GET">
        <button type="submit" class="btn btn-primary">View Executions on Same Template</button>
      </form>
    </div>
  </div>
</div>